---
- name: Create shared resources directory
  file:
    path: "{{ nifi_config_dirs.external_config }}"
    state: "directory"
    owner: "{{ nifi_user }}"
    group: "{{ nifi_group }}"

- name: Update nifi.properties
  lineinfile:
    path: "{{ nifi_config_dirs.home }}/conf/nifi.properties"
    line: "{{ item.key }}={{ item.value }}"
    regexp: "^{{ item.key }}"
  with_dict: "{{ nifi_properties }}"

- name: Update bootstrap.conf
  lineinfile:
    path: "{{ nifi_config_dirs.home }}/conf/bootstrap.conf"
    line: "{{ item.key }}={{ item.value }}"
    regexp: "^{{ item.key }}"
  with_dict: "{{ bootstrap }}"

- name: Update state-management.xml
  xml:
    path: "{{ nifi_config_dirs.home }}/conf/state-management.xml"
    xpath: "{{ item.key }}"
    value: "{{ item.value }}"
  with_dict: "{{ state_management }}"

- name: Update logback.xml
  xml:
    path: "{{ nifi_config_dirs.home }}/conf/logback.xml"
    xpath: "{{ item.key }}"
    value: "{{ item.value }}"
  with_dict: "{{ logback }}"

- name: Update login-identity-providers.xml
  block:
    - replace:
        path: "{{ nifi_config_dirs.home }}/conf/login-identity-providers.xml"
        regexp: "^.*To enable the {{ login_identity_providers['/loginIdentityProviders/provider/identifier'] }}.*$"
        replace: ""
    - xml:
        path: "{{ nifi_config_dirs.home }}/conf/login-identity-providers.xml"
        xpath: "{{ item.key }}"
        value: "{{ item.value }}"
      with_dict: "{{ login_identity_providers }}"
  when: login_identity_providers['/loginIdentityProviders/provider/identifier'] | length

- name: Update authorizers.xml
  block:
    - replace:
        path: "{{ nifi_config_dirs.home }}/conf/authorizers.xml"
        regexp: "^.*To enable the {{ authorizers['/authorizers/userGroupProvider/identifier'] }}.*$"
        replace: ""
    - xml:
        path: "{{ nifi_config_dirs.home }}/conf/authorizers.xml"
        xpath: "{{ item.key }}"
        value: "{{ item.value }}"
      with_dict: "{{ authorizers }}"
  when: authorizers['/authorizers/userGroupProvider/identifier'] | length

- name: Prepare Zookeeper
  include: zookeeper.yml
  when: 
    - nifi_properties['nifi.state.management.embedded.zookeeper.start'] is defined
    - nifi_properties['nifi.state.management.embedded.zookeeper.start'] | bool == true
