<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at
      http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!--
    This file lists the login identity providers to use when running securely. In order
    to use a specific provider it must be configured here and it's identifier
    must be specified in the nifi.properties file.
-->
<loginIdentityProviders>

    {% if login_identity_provider.identifier == "ldap-provider" %}
    <provider>
        <identifier>ldap-provider</identifier>
        <class>org.apache.nifi.ldap.LdapProvider</class>
        <property name="Authentication Strategy">{{ login_identity_provider.ldap.authentication_strategy }}</property>

        <property name="Manager DN">{{ login_identity_provider.ldap.manager_dn }}</property>
        <property name="Manager Password">{{ login_identity_provider.ldap.manager_password }}</property>

        <property name="TLS - Keystore">{{ login_identity_provider.ldap.tls_keystore }}</property>
        <property name="TLS - Keystore Password">{{ login_identity_provider.ldap.tls_keystore_password }}</property>
        <property name="TLS - Keystore Type">{{ login_identity_provider.ldap.tls_keystore_type }}</property>
        <property name="TLS - Truststore">{{ login_identity_provider.ldap.tls_truststore }}</property>
        <property name="TLS - Truststore Password">{{ login_identity_provider.ldap.tls_truststore_password }}</property>
        <property name="TLS - Truststore Type">{{ login_identity_provider.ldap.tls_truststore_type }}</property>
        <property name="TLS - Client Auth">{{ login_identity_provider.ldap.tls_client_auth }}</property>
        <property name="TLS - Protocol">{{ login_identity_provider.ldap.tls_protocol }}</property>
        <property name="TLS - Shutdown Gracefully">{{ login_identity_provider.ldap.tls_shutdown_gracefully }}</property>
        
        <property name="Referral Strategy">{{ login_identity_provider.ldap.referral_strategy }}</property>
        <property name="Connect Timeout">{{ login_identity_provider.ldap.connect_timeout }}</property>
        <property name="Read Timeout">{{ login_identity_provider.ldap.read_timeout }}</property>

        <property name="Url">{{ login_identity_provider.ldap.url }}</property>
        <property name="User Search Base">{{ login_identity_provider.ldap.user_search_base }}</property>
        <property name="User Search Filter">{{ login_identity_provider.ldap.user_search_filter }}</property>

        <property name="Identity Strategy">{{ login_identity_provider.ldap.identity_strategy }}</property>
        <property name="Authentication Expiration">{{ login_identity_provider.ldap.authentication_expiration }}</property>
    </provider>

    {% elif login_identity_provider.identifier == "kerberos-provider" %}
    <provider>
        <identifier>kerberos-provider</identifier>
        <class>org.apache.nifi.kerberos.KerberosProvider</class>
        <property name="Default Realm">{{ login_identity_provider.kerberos.default_realm }}</property>
        <property name="Authentication Expiration">{{ login_identity_provider.kerberos.authentication_expiration }}</property>
    </provider>
    {% endif %}

</loginIdentityProviders>