clientPort=2181
initLimit=10
syncLimit=5
tickTime=2000
dataDir={{ config_dirs.nifi_external_config }}/state/zookeeper
{% for host in nifi_servers %}
server.{{ loop.index }}={{ host }}:2888:3888
{% endfor %}