Client {
  com.sun.security.auth.module.Krb5LoginModule required
  useKeyTab=true
  keyTab="{{ zookeeper_jaas.keyTab | default('nifi.keytab') }}"
  storeKey=true
  useTicketCache=false
  principal="{{ zookeeper_jaas.principal | default('nifi') }}";
};